body{
    width: 100%;
    background-image: url(./images/Inicio1.png);
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    margin: 0 auto;}

h1{font-family:Arial, Helvetica, sans-serif;
    color:#A91E82;
    font-size:39px;
    text-align: center}

.text{ width: 1000px;
    height: 400px;
   text-align:justify;
    margin-left: auto;
    margin-right:auto ; 
    margin-top: 40px;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    color:#000000;
    font-weight: 700;
    font-size: 18px}

.apart{display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: -60px;
}

.alejo{font-family:Arial, Helvetica, sans-serif;
    color:#396435;
    text-align: center;
    text-decoration: none;
    font-size: 17px;}

.gabi{font-family:Arial, Helvetica, sans-serif;
    color:#396435;
    text-align: center;
    text-decoration: none;
    font-size: 17px;}

.explora{
    display: flex;
    flex-direction:row;
    align-items: baseline;
    justify-content: space-evenly;
    margin-left: -5px;}


.home{font-family:Arial, Helvetica, sans-serif;
    color:#000000;
    font-size:18px;
    text-align: center;
    margin-bottom: 0px;}

.next{font-family:Arial, Helvetica, sans-serif;
    color:#080808;
    font-size:18px;
    text-align: left;
    margin-bottom: 0px;}

.previous{font-family:Arial, Helvetica, sans-serif;
    color:#000000;
    font-size:18px;
    text-align: center;
    margin-bottom: 0px;}
    
footer{text-align: right;
    margin-top: 40px;}